body {
      font-family: Arial, sans-serif;
      background: #000;
      color: #fff;
      padding: 0;
      background-image: url('1771289361836.jpg');
      background-size: cover;
      background-position: center;
      height: 100vh;
    }

    .header {
      background-color: #2b2b2b;
      color: white;
      padding: 20px;
      display: flex;
      position: relative;
      align-items: center;
    }

    .menu-btn {
      font-size: 50px;
      cursor: pointer;
    }

    .title {
      font-weight: bold;
      font-size: 40px;
      text-align: center;
      line-height: 1.2;
      flex-grow: 1;
    }

 .menu {
      position: absolute;
      top: 60px;
      left: 20px;
      background-color: #444;
      padding: 10px;
      border-radius: 8px;
    }

    .menu a {
      display: block;
      color: white;
      padding: 10px;
      border-radius: 5px;
    }


    .menu a:hover {
      background-color: #666;
      
    }

    h1 {
      font-size: 35px;
      margin: 20px;
      text-align: center;
    }

    .loadout {
      max-width: 900px;
      margin: 30px auto;
      padding: 20px;
    }

    .loadout img {
      width: 100%;
      max-width: 1000px;
      border-radius: 10px;
      margin-bottom: 15px;
    }

    .description {
      font-size: 16px;
      line-height: 1.6;
      margin-bottom: 20px;
      text-align: left;
      font-weight: bold;
    }

    footer {
      background: white;
      padding: 20px;
      margin-top: 500px;
      text-align: center;
    }

    footer p {
      margin: 10px ;
      font-size: 16px;
      color: black;
    }

    .social-icons {
      margin-top: 10px;
    }

    .social-icons a {
      margin: 10px;
      display: inline-block;
    }

    .social-icons img {
      width: 35px;
      height: 35px;
      color: black;
    }
